<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Bike Life</title>
</head>
<body>
    <body>
        <header>
            <nav class="nav-link d-none d-sm-block">
                <ul>
                    <li><a href="{{url_for('views.home')}}">Home</a></li>
                    <li><a href="{{url_for('views.store')}}">Store</a></li>
                    <li><a href="{{url_for('views.storeaccess')}}">Access</a></li>
                    <li><a href="{{url_for('views.gallery')}}">Gallery</a></li>
                    <li><a href="{{url_for('views.contact')}}">Contact</a></li>
                </ul>   
            </nav>
            <div class="d-sm-none position-absolute top-0 start-0 m-2 px-4 w-100 ">
                <a class="mobile-button" id="mobileButton">
                    <i class="fa-solid fa-bars"></i>
                </a>
            <nav class="d-none" id="mobileDrop">
                <ul class="p-4 bg-light w-75 mobile-list">
                    <li class="py-2"><a href="{{url_for('views.home')}}">Home</a></li>
                    <li class="py-2"><a href="{{url_for('views.store')}}">Store</a></li>
                    <li class="py-2"><a href="{{url_for('views.storeaccess')}}">Access</a></li>
                    <li class="py-2"><a href="{{url_for('views.gallery')}}">Gallery</a></li>
                    <li class="py-2"><a href="{{url_for('views.contact')}}">Contact</a></li>
                </ul>
            </nav>
            </div>
        </header>    

        {% block content %}
        {% endblock %}

        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; www.bikelife.com 2022</p></div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        
        {% block scripts %}
        {% endblock %}
        
        
        <script>
            const mobileButton = document.getElementById("mobileButton")
            const mobileMenu = document.getElementById("mobileDrop")
            mobileButton.addEventListener("click",function() {
                if(mobileMenu.classList.contains("d-none")) { 
                    mobileMenu.classList.remove("d-none");
                } else {
                    mobileMenu.classList.add("d-none");
                }
            });
        </script>
    </body>
</html>