{% extends 'base.html' %}

{% block content %}

<section class="innerhero">
    <img src="../static/images/ducpan1.jpg" />
    <h1>
        {% if type=="products"%}
        products
        {% else %}
        accessories
        {% endif %}
    </h1>
</section>

<div class="container mt-8 mb-8">
    <div class="row ">
        {% if type=="products" %}
            {% for p in products %}
                <div class="col-xxl-4 col-sm-12 col-lg-6">
                    <div class="card">
                        <img class="card-img-top" src="{{p[10]}}" alt="Bike 1">
                        <div class="card-body">
                        <h5 class="card-title">{{p[1]}}</h5>
                        <p class="card-text">{{p[2]}}</p>
                        <a href="#" class="shopbtn btn-primary">Go somewhere</a>
                        </div>
                    </div>        
                </div>
            {% endfor %}
        {% else %}
            {% for p in accessories %}
                <div class="col-xxl-4 col-sm-12 col-lg-6">
                    <div class="card">
                        <img class="card-img-top" src="{{p[10]}}" alt="Bike 1">
                        <div class="card-body">
                        <h5 class="card-title">{{p[1]}}</h5>
                        <p class="card-text">{{p[2]}}</p>
                        <a href="#" class="shopbtn btn-primary">Go somewhere</a>
                        </div>
                    </div>        
                </div>
            {% endfor %}
        {% endif %}
    </div>

</div>

{% endblock %}